@model SearchKnowledgeBaseViewModel
@{
    ViewData["Title"] = "Kết quả tìm kiếm cho từ khóa " + Model.Keyword;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewData["Description"] = "Các bài viết được tìm bởi từ khóa " + Model.Keyword;
}
<!-- start of page content -->
<div class="list-group list-group-flush">
    @foreach (var item in Model.Data.Items)
    {
        var url = "/bai-dang/" + item.SeoAlias + "-" + item.Id + "/";
        <li class="list-group-item">


            <label class="post-title h4">
                <a href="@url">@Html.Raw(item.Title)</a>
            </label>

            <div class="d-flex">
                <span class="d-block opacity-50 me-2">@item.CreateDate.ToString("dd/MM/yyyy")
                    trong
                </span>
                <span class="me-3"><a href="/tag/@item.SeoAlias-@item.Id"
                        title="Xem tất cả bài viết trong @item.CategoryName">@item.CategoryName</a></span>

                <a href="@url" style="width: fit-content"
                    class="me-2 badge d-flex align-items-center p-1 pe-2 text-primary bg-primary-subtle border border-primary-subtle rounded-pill">
                    <i class="bi bi-chat-quote-fill me-1"></i>Bình luận
                    @item.NumberOfComments.GetValueOrDefault(0).ToString("N0")
                </a>

                <a href="@url" style="width: fit-content"
                    class="m-0 badge d-flex align-items-center p-1 pe-2 text-success bg-success-subtle border border-success-subtle rounded-pill">
                    <i class="bi bi-hand-thumbs-up-fill me-1"></i>Thích
                    @item.NumberOfVotes.GetValueOrDefault(0).ToString("N0")
                </a>
            </div>
            <p>
                @item.Description
            </p>
        </li>
    }

    @(await Component.InvokeAsync("Pager", Model.Data))
</div>
<!-- end of page content -->